[Unit]
Description=Run wasta-multidesktop wasta-logout script

[Service]
Type=oneshot
ExecStop=/usr/share/wasta-multidesktop/scripts/wasta-logout.sh

[Install]
WantedBy=multi-user.target
