Source: wasta-multidesktop-xenial
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-multidesktop-xenial

Package: wasta-multidesktop-xenial
Architecture: all
Depends: at, lightdm, systemd, wasta-core-xenial, wmctrl, ${shlibs:Depends}, ${misc:Depends}
Description: Wasta-Linux MultiDesktop
 Ensures cross-desktop compatibility between Cinnamon and Unity sessions.
 A lightdm script is executed on login to make necessary adjustments based
 on detected session.  Also a systemd service is triggered on shutdown
 to sync any changes between sessions (such as desktop background images).
 .
 Currently Gnome, KDE, and XFCE are not supported: only Cinnamon and Unity.
